.home-container {
    margin: 0 35vh;
}

.redes-home img {
    width: 38px;
}

.big-image img {
    width: 310px;
}

.presentation-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.presentation-text {
    max-width: 440px;
}

.presentation-text h1 {
    font-size: 72px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: default;
}

.presentation-text span {
    font-size: 48px;
}

.presentation-text h4 {
    font-size: 20px;
    font-weight: 400;
    color: #7A7A7A;
    cursor: default;
}



.tech-tecnology {
    display: flex;
    align-items: center;
    margin-top: 5vh;
}

.tech-tecnology h5 {
    font-size: 20px;
    font-weight: 700;
    border-right: 1px solid #000;
    height: 100%;
    padding-right: 24px;
}

.image-container {
    position: relative;
    /* Necesario para posicionar el texto */
    display: inline-block;
    text-align: center;
    /* Alinear el texto debajo de la imagen */
    cursor: pointer;
    /* Indicar que es interactivo */
    margin-left: 40px;
}

.image-container-redes {
    position: relative;
    /* Necesario para posicionar el texto */
    display: inline-block;
    text-align: center;
    /* Alinear el texto debajo de la imagen */
    cursor: pointer;
    /* Indicar que es interactivo */
    margin-left: 12px;
}

.redes-home .image-container-redes:first-child {
    margin: 0;
}

.image-container-redes img {
    width: 38px;
    /* Ajusta el tamaño de la imagen */
    height: auto;
    transition: transform 0.3s ease;
    /* Animación para un efecto suave */
}

.skills-container {
    height: 38px;
}

.image-container img {
    width: 38px;
    /* Ajusta el tamaño de la imagen */
    height: auto;
    transition: transform 0.3s ease;
    /* Animación para un efecto suave */
}

.image-container-redes a .image-text {
    position: absolute;
    bottom: -20px;
    /* Ajusta la posición del texto debajo de la imagen */
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: #333;
    /* Color del texto */
    opacity: 0;
    /* Invisible por defecto */
    transition: opacity 0.3s ease;
    /* Animación de entrada/salida */
    pointer-events: none;
    /* Evitar interacción con el texto */
    font-weight: 400;
}

.image-container .image-text {
    position: absolute;
    bottom: -20px;
    /* Ajusta la posición del texto debajo de la imagen */
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: #333;
    /* Color del texto */
    opacity: 0;
    /* Invisible por defecto */
    transition: opacity 0.3s ease;
    /* Animación de entrada/salida */
    pointer-events: none;
    /* Evitar interacción con el texto */
}

.image-container:hover img {
    transform: scale(1.1);
    /* Escala la imagen al pasar el cursor */
}

.image-container:hover .image-text {
    opacity: 1;
    /* Muestra el texto */
}


.image-container-redes:hover img {
    transform: scale(1.1);
    /* Escala la imagen al pasar el cursor */
}

.image-container-redes:hover .image-text {
    opacity: 1;
    /* Muestra el texto */
}

@media (max-width: 1325px) {
    .home-container {
        margin: 0 25vh;
    }
}

@media (max-width: 1300px) {
    .presentation-text h1 {
        font-size: 64px;
    }

    .presentation-text h4 {
        font-size: 18px;
    }

    .redes-home img {
        width: 30px;
    }

    .image-text {
        font-size: 12px;
    }

    .tech-tecnology h5 {
        font-size: 18px;
    }

    .skills-container {
        height: 30px;
    }

    .image-container img {
        width: 30px;
    }
}

@media (max-width: 1070px) {
    .presentation-text h1 {
        font-size: 58px;
    }

    .presentation-text h4 {
        font-size: 16px;
    }

    .presentation-text {
        max-width: 350px;
    }

    .big-image img {
        width: 290px;
    }

}

@media (max-width: 1020px) {
    .presentation-text h1 {
        font-size: 50px;
    }

    .presentation-text h4 {
        font-size: 14px;
    }

    .presentation-text {
        max-width: 350px;
    }

    .big-image img {
        width: 260px;
    }

    .presentation-text span {
        font-size: 40px;
    }

}

@media (max-width: 925px) {
    .presentation-text h1 {
        font-size: 40px;
    }

    .presentation-text h4 {
        font-size: 13px;
    }

    .presentation-text {
        max-width: 250px;
    }

    .big-image img {
        width: 230px;
    }

    .presentation-text span {
        font-size: 36px;
    }

    .redes-home img {
        width: 24px;
    }

    .image-text {
        font-size: 12px;
    }

    .tech-tecnology h5 {
        font-size: 16px;
        padding-right: 15px;
    }

    .image-container {
        margin-left: 25px;
    }

    .skills-container {
        height: 24px;
    }

    .image-container img {
        width: 24px;
    }
}

@media (max-width: 825px) {
    .home-container {
        margin: 0 15vh;
    }


}

@media (max-width: 700px) {
    .presentation-text h1 {
        font-size: 32px;
        margin-top: 15px;
    }

    .presentation-text span {
        font-size: 28px;
    }

    .presentation-text {
        max-width: 200px;
    }

    .big-image img {
        width: 200px;
    }

    .tech-tecnology h5 {
        font-size: 14px;
        padding-right: 12px;
    }

    .image-container {
        margin-left: 20px;
    }

    .skills-container {
        height: 20px;
    }

    .image-container img {
        width: 20px;
    }

}

@media (max-width: 610px) {
    .home-container {
        margin: 0 10vh;
    }

    .presentation-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .presentation-text {
        max-width: 350px;
    }

    .presentation-text h1 {
        text-align: center;
    }

    .presentation-text h4 {
        max-width: 300px;
        text-align: center;
    }

    .redes-home {
        display: flex;
        justify-content: center;
    }

    .tech-tecnology {
        justify-content: center;
    }

    .presentation-text h4 {
        font-size: 14px;
    }

}

@media (max-width: 550px) {

    .tech-tecnology {
        margin-top: 0;
    }
}

@media (max-width: 500px) {
    .redes-home img {
        width: 20px;
    }

    .tech-tecnology h5 {
        font-size: 12px;
        padding-right: 12px;
    }

    .skills-container {
        height: 22px;
    }

    .image-container img {
        width: 16px;
    }

    .image-container {
        margin-left: 15px;
    }
}

@media (max-width: 420px) {
    .home-container {
        margin: 0 3vh;
    }

    .big-image img {
        width: 180px;
    }

    .presentation-text h1 {
        font-size: 26px;
        margin-top: 12px;
        margin-bottom: 0px;
    }

    .presentation-text h4 {
        font-size: 13px;
        margin-top: 12px;
    }
}
