.home-container {
    margin: 0 35vh;
}

.redes-home img {
    width: 38px;
}

.big-image img {
    width: 310px;
}

.presentation-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.presentation-text {
    max-width: 440px;
}

.presentation-text h1 {
    font-size: 72px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: default;
}

.presentation-text span {
    font-size: 48px;
}

.presentation-text h4 {
    font-size: 20px;
    font-weight: 400;
    color: #7A7A7A;
    cursor: default;
}



.tech-tecnology {
    display: flex;
    align-items: center;
    margin-top: 5vh;
}

.tech-tecnology h5 {
    font-size: 20px;
    font-weight: 700;
    border-right: 1px solid #000;
    height: 100%;
    padding-right: 24px;
}

.image-container {
    position: relative;
    /* Necesario para posicionar el texto */
    display: inline-block;
    text-align: center;
    /* Alinear el texto debajo de la imagen */
    cursor: pointer;
    /* Indicar que es interactivo */
    margin-left: 40px;
}

.image-container-redes{
    position: relative;
    /* Necesario para posicionar el texto */
    display: inline-block;
    text-align: center;
    /* Alinear el texto debajo de la imagen */
    cursor: pointer;
    /* Indicar que es interactivo */
    margin-left: 12px;
}

.redes-home .image-container-redes:first-child {
    margin: 0;
  }

.image-container-redes img {
    width: 38px;
    /* Ajusta el tamaño de la imagen */
    height: auto;
    transition: transform 0.3s ease;
    /* Animación para un efecto suave */
}

.image-container img {
    width: 38px;
    /* Ajusta el tamaño de la imagen */
    height: auto;
    transition: transform 0.3s ease;
    /* Animación para un efecto suave */
}

.image-container-redes a .image-text {
    position: absolute;
    bottom: -20px;
    /* Ajusta la posición del texto debajo de la imagen */
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: #333;
    /* Color del texto */
    opacity: 0;
    /* Invisible por defecto */
    transition: opacity 0.3s ease;
    /* Animación de entrada/salida */
    pointer-events: none;
    /* Evitar interacción con el texto */
    font-weight: 400;
}

.image-container .image-text {
    position: absolute;
    bottom: -20px;
    /* Ajusta la posición del texto debajo de la imagen */
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: #333;
    /* Color del texto */
    opacity: 0;
    /* Invisible por defecto */
    transition: opacity 0.3s ease;
    /* Animación de entrada/salida */
    pointer-events: none;
    /* Evitar interacción con el texto */
}

.image-container:hover img {
    transform: scale(1.1);
    /* Escala la imagen al pasar el cursor */
}

.image-container:hover .image-text {
    opacity: 1;
    /* Muestra el texto */
}


.image-container-redes:hover img {
    transform: scale(1.1);
    /* Escala la imagen al pasar el cursor */
}

.image-container-redes:hover .image-text {
    opacity: 1;
    /* Muestra el texto */
}